<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <nav>
      <h3 style="width: 300px; justify-content: center; padding-top: 18px;">Baklava's Mythologies</h3>
      <ul>
          <li><a href="./">Home</a></li>
          <li><a href="./norse">Norse</a></li>
      </ul>
    </nav>
    <h1>404 - Missing Page</h1>
    <a href="index.html">Go Home</a>
  </body>
</html>
