<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Greek Mythology</title>
  </head>
  <body class="greek-page">
    <nav>
      <a href="./" class="logo">
        <svg
          id="Layer_2"
          xmlns="http://www.w3.org/2000/svg"
          version="1.1"
          viewBox="0 0 67.2 100"
        >
          <path
            class="st0"
            d="M50,33.3l15.6-20.8c3.9-5.2.2-12.5-6.2-12.5H0v33.3h50Z"
          />
          <path
            class="st1"
            d="M50,66.7H0v33.3h59.4c6.4,0,10.1-7.3,6.2-12.5l-15.6-20.8h0Z"
          />
          <path
            class="st2"
            d="M50,33.3H0v33.3h50l-3.1-4.2c-5.6-7.4-5.6-17.6,0-25l3.1-4.2h0Z"
          />
        </svg>
        <h1>BAKLAVA</h1>
      </a>
      <ul>
        <li><a href="./">Home</a></li>
        <li><a href="./greek">Greek</a></li>
        <li><a href="./norse">Norse</a></li>
        <li><a href="./native">Native American</a></li>
      </ul>
    </nav>

    <div class="header">
      <h2>Greek Mythology</h2>
    </div>

    <div class="content">
      <section class="introduction">
        <h2>Introduction to Greek Mythology</h2>
        <p>
          Greek mythology is the body of myths originally told by the ancient
          Greeks, and a genre of Ancient Greek folklore. These stories concern
          the origin and nature of the world, the lives and activities of
          deities, heroes, and mythological creatures, and the origins and
          significance of the ancient Greeks' own cult and ritual practices.
        </p>
      </section>

      <section id="greekCharacters">
        <h3>Key Figures</h3>
        <ul>
          <li><button onclick="showCharacterInfo('zeus')">Zeus</button></li>
          <li><button onclick="showCharacterInfo('hera')">Hera</button></li>
          <li><button onclick="showCharacterInfo('athena')">Athena</button></li>
          <li>
            <button onclick="showCharacterInfo('poseidon')">Poseidon</button>
          </li>
        </ul>
        <div id="character-info"></div>
      </section>

      <section id="greekMyths">
        <h3>Famous Myths</h3>
        <ul>
          <li>
            <button onclick="showMythInfo('heracles')">
              The Twelve Labors of Heracles
            </button>
          </li>
          <li>
            <button onclick="showMythInfo('odyssey')">The Odyssey</button>
          </li>
          <li><button onclick="showMythInfo('iliad')">The Iliad</button></li>
          <li>
            <button onclick="showMythInfo('persephone')">
              The Myth of Persephone
            </button>
          </li>
        </ul>
        <div id="myth-info"></div>
      </section>
    </div>

    <script src="js/greek.js"></script>
  </body>
</html>
