<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/styles.css" />
</head>
<body>
    <nav>
        <h3 style="width: 300px; justify-content: center; padding-top: 18px;">Baklava's Mythologies</h3>
        <ul>
          <li><a href="./">Home</a></li>
          <li><a href="./norse">Norse</a></li>
        </ul>
      </nav>
    <h1>Home</h1>
    <p>
        Through out history, there have been many different mythologies that have arose around the world. Some people who are interested in learning
        more about these mythologies might have a hard time choosing one to start with. This website showcases a few mythologies by sharing some
        information about them in the hopes of helping someone chose a mythology to get interested in.
    </p>
    </br>
    <h2>Norse Mythology</h2>
    <p>
        Norse mythology is a body of myths belonging to the North Germanic people that stems from the Old Norse religion. It is a mythology that 
        involves 9 different realms that surround the world tree, Yggdrasil. Each realm is populated by a different race: Gods, Jötnar (giants 
        and trolls), dwarves, elves, humans, and monsters. Norse mythology has many different events including the destruction and rebirth of 
        the world, known as Ragnarök.
    </p>
    <p>Sounds interesting? <a href="./norse" style="color: white;">Check it out!</a></p>
</body>
</html>