<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/styles.css" />
</head>
<body>
    <nav>
      <a href="./" class="logo">
        <svg
          id="Layer_2"
          xmlns="http://www.w3.org/2000/svg"
          version="1.1"
          viewBox="0 0 67.2 100"
        >
          <path
            class="st0"
            d="M50,33.3l15.6-20.8c3.9-5.2.2-12.5-6.2-12.5H0v33.3h50Z"
          />
          <path
            class="st1"
            d="M50,66.7H0v33.3h59.4c6.4,0,10.1-7.3,6.2-12.5l-15.6-20.8h0Z"
          />
          <path
            class="st2"
            d="M50,33.3H0v33.3h50l-3.1-4.2c-5.6-7.4-5.6-17.6,0-25l3.1-4.2h0Z"
          />
        </svg>
        <h1>BAKLAVA</h1>
      </a>
      <ul>
        <li><a href="./">Home</a></li>
        <li><a href="./greek">Greek</a></li>
        <li><a href="./norse">Norse</a></li>
        <li><a href="./native">Native American</a></li>
      </ul>
    </nav>
    <h1>Home</h1>
    <p>
        Through out history, there have been many different mythologies that have arose around the world. Some people who are interested in learning
        more about these mythologies might have a hard time choosing one to start with. This website showcases a few mythologies by sharing some
        information about them in the hopes of helping someone chose a mythology to get interested in.
    </p>
    </br>
    <h2>Norse Mythology</h2>
    <p>
        Norse mythology is a body of myths belonging to the North Germanic people that stems from the Old Norse religion. It is a mythology that 
        involves 9 different realms that surround the world tree, Yggdrasil. Each realm is populated by a different race: Gods, Jötnar (giants 
        and trolls), dwarves, elves, humans, and monsters. Norse mythology has many different events including the destruction and rebirth of 
        the world, known as Ragnarök.
    </p>
    <p>Sounds interesting? <a href="./norse" style="color: white;">Check it out!</a></p>
</body>
</html>
