<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Native Legend - Baklava</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <nav>
      <a href="./" class="logo">
        <svg
          id="Layer_2"
          xmlns="http://www.w3.org/2000/svg"
          version="1.1"
          viewBox="0 0 67.2 100"
        >
          <path
            class="st0"
            d="M50,33.3l15.6-20.8c3.9-5.2.2-12.5-6.2-12.5H0v33.3h50Z"
          />
          <path
            class="st1"
            d="M50,66.7H0v33.3h59.4c6.4,0,10.1-7.3,6.2-12.5l-15.6-20.8h0Z"
          />
          <path
            class="st2"
            d="M50,33.3H0v33.3h50l-3.1-4.2c-5.6-7.4-5.6-17.6,0-25l3.1-4.2h0Z"
          />
        </svg>
        <h1>BAKLAVA</h1>
      </a>
      <ul>
        <li><a href="./">Home</a></li>
        <li><a href="./greek">Greek</a></li>
        <li><a href="./norse">Norse</a></li>
        <li><a href="./native">Native American</a></li>
      </ul>
    </nav>

    <main>
      <div class="header">
        <h2>Native American Legend</h2>
        <h4>The fact and fiction about Native fiction.</h4>
      </div>

      <p>
        The native people were not "religous" as Western culture describes it,
        but moreso spiritual. Many tales revolved around common characters such
        as the Apache's Owl, Woodpecker, and Coyote.
      </p>

      <h3>Apache Characters</h3>
      <ul>
        <li>
          <a href="https://www.sacred-texts.com/nam/pla/jat/jat53.htm">
            Owl, a provider and wise mentor.
          </a>
        </li>
        <li>
          <a href="https://www.sacred-texts.com/nam/pla/jat/jat50.htm">
            Woodpecker, a humble and grateful worker.
          </a>
        </li>
        <li>
          <a href="https://www.sacred-texts.com/nam/pla/jat/jat17.htm">
            Coyote, a deceiving and quick trickster.
          </a>
        </li>
        <li>
          <a href="https://www.sacred-texts.com/nam/pla/jat/jat47.htm">
            Mole, a smart and friendly trickster.
          </a>
        </li>
      </ul>
    </main>
  </body>
</html>
