<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Native Legend - Baklava</title>
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/samStyles.css" />
  </head>
  <body>
    <nav>
      <a href="./" class="logo">
        <svg
          id="Layer_2"
          xmlns="http://www.w3.org/2000/svg"
          version="1.1"
          viewBox="0 0 67.2 100"
        >
          <path
            class="st0"
            d="M50,33.3l15.6-20.8c3.9-5.2.2-12.5-6.2-12.5H0v33.3h50Z"
          />
          <path
            class="st1"
            d="M50,66.7H0v33.3h59.4c6.4,0,10.1-7.3,6.2-12.5l-15.6-20.8h0Z"
          />
          <path
            class="st2"
            d="M50,33.3H0v33.3h50l-3.1-4.2c-5.6-7.4-5.6-17.6,0-25l3.1-4.2h0Z"
          />
        </svg>
        <h1>BAKLAVA</h1>
      </a>
      <ul>
        <li><a href="./">Home</a></li>
        <li><a href="./greek">Greek</a></li>
        <li><a href="./norse">Norse</a></li>
        <li><a href="./native">Native American</a></li>
      </ul>
    </nav>

    <div class="header">
      <h2>Native American Legend</h2>
      <h4>The fact and fiction about Native fiction.</h4>
    </div>

    <p>
      The native people were not "religous" as Western culture describes it, but
      moreso spiritual. Many tales revolved around common characters such as the
      Apache's Owl, Woodpecker, and Coyote.
    </p>

    <h3>Apache Characters</h3>
    <ul id="nativeList">
      <li>
        <a href="#storyTitle" id="owlBtn" class="nativeBtn">
          <p>Owl, a provider and wise mentor.</p>
        </a>
      </li>
      <li>
        <a href="#storyTitle" id="woodpeckerBtn" class="nativeBtn">
          <p>Woodpecker, a humble and grateful worker.</p>
        </a>
      </li>
      <li>
        <a href="#storyTitle" id="coyoteBtn" class="nativeBtn">
          <p>Coyote, a deceiving and quick trickster.</p>
        </a>
      </li>
      <li>
        <a href="#storyTitle" id="moleBtn" class="nativeBtn">
          <p>Mole, a wise and friendly trickster.</p>
        </a>
      </li>
    </ul>

    <h3>Click on a character above and read a tale below!</h3>
    <p>
      Credit to
      <a href="https://www.sacred-texts.com/nam/pla/jat/" target="_blank"
        >Jicarilla's Apache Texts</a
      >
      for these wonderful tales being made available online.
    </p>
    <h2 id="storyTitle"></h2>
    <p id="storyText"></p>

    <h2>Which Apache Spirit are you most like?</h2>
    <p>
      After reading the stories above, you may be wondering which spirit you
      share the most with. Well, good news! Here, we have a patented,
      100%-accurate quiz to determine just that! Click the selections below and
      when you're done, click the button below to see which spirit you are like.
    </p>

    <form>
      <div class="question" id="question1">
        <h4>You have work to do. How do you tackle it?</h4>
        <div class="answers">
          <label class="answer">
            <input type="checkbox" id="answer11" />
            a. I look for the quickest way to get it done.
          </label>
          <label class="answer">
            <input type="checkbox" id="answer12" />
            b. I do it by the book, the exact way I've been taught.
          </label>
          <label class="answer">
            <input type="checkbox" id="answer13" />
            c. I look for what gets the job done in a way that makes all parties
            happy.
          </label>
        </div>
      </div>

      <div class="question" id="question2">
        <h4>You get a suspicious phone call. What's your move?</h4>
        <div class="answers">
          <label class="answer">
            <input type="checkbox" id="answer21" />
            a. I hang up the phone and don't bother.
          </label>
          <label class="answer">
            <input type="checkbox" id="answer22" />
            b. I draw it out and stall the scammer.
          </label>
          <label class="answer">
            <input type="checkbox" id="answer23" />
            c. I'm the one making the call.
          </label>
        </div>
      </div>

      <div class="question" id="question2">
        <h4>
          Someone dropped their AirPods. You pick them up, what do you do next?
        </h4>
        <div class="answers">
          <label class="answer">
            <input type="checkbox" id="answer31" />
            a. Free AirPods!
          </label>
          <label class="answer">
            <input type="checkbox" id="answer32" />
            b. Look for someone at a desk to turn it into.
          </label>
          <label class="answer">
            <input type="checkbox" id="answer33" />
            c. This is my moment. We're pulling out Find My and searching for
            this person.
          </label>
        </div>
      </div>

      <button id="submit" type="button">Submit Answers</button>
    </form>
    <h2 id="result"></h2>
    <div class="results">
      <p id="owlResult">Owl: 0%</p>
      <p id="woodpeckerResult">Woodpecker: 0%</p>
      <p id="coyoteResult">Coyote: 0%</p>
      <p id="moleResult">Mole: 0%</p>
    </div>

    <div id="results"></div>
    <script type="module" src="js/native.js"></script>
  </body>
</html>
