#nativeList,
#nativeList li {
  width: 100%;

  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nativeBtn {
  width: 20vw;
  height: 20vw;
  border-radius: 10%;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;

  background-position: center;
  background-size: cover;
}

.nativeBtn p {
  width: 15vw;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 1.5em;
}

.nativeBtn:hover {
  border-radius: 25%;
}

.nativeBtn:hover p {
  width: 20vw;
  font-weight: bold;
  font-size: 2em;
}

#owlBtn {
  background-image: linear-gradient(0deg, #00000080 0%, #00000080 100%),
    url("../assets/owl.jpg");
}

#woodpeckerBtn {
  background-image: linear-gradient(0deg, #00000080 0%, #00000080 100%),
    url("../assets/woodpecker.webp");
}

#coyoteBtn {
  background-image: linear-gradient(0deg, #00000080 0%, #00000080 100%),
    url("../assets/coyote.webp");
}

#moleBtn {
  background-image: linear-gradient(0deg, #00000080 0%, #00000080 100%),
    url("../assets/mole.jpg");
}
